<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="ComponentsConfiguration" type="Test.Framework.Launcher.Config.SectionGroups.TestLauncherConfiguration, Test.Framework.Launcher">
      <section name="ActionLibraries" type="Test.Framework.Launcher.Config.SectionGroups.ActionLibraries.ActionLibrariesConfigurationSection, Test.Framework.Launcher" />
      <section name="Loggers" type="Test.Framework.Launcher.Config.SectionGroups.Loggers.LoggersConfigurationSection, Test.Framework.Launcher" />
      <section name="Reports" type="Test.Framework.Launcher.Config.SectionGroups.Reports.RepotsConfigurationSection, Test.Framework.Launcher" />
    </sectionGroup>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <requiredRuntime version="v4.0.30319" />
  </startup>
  <runtime>
    <!-- We need this to prevent threads exceptions from crash of launcher process -->
    <legacyUnhandledExceptionPolicy enabled="1" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="include\LogWriters;include\ReportGenerators" />
    </assemblyBinding>
  </runtime>
  <appSettings>
    <clear />
    <add key="TestLogger" value="Test.Framework.Logger.dll" />
    <add key="TestReport" value="Test.Framework.Report.dll" />
    <add key="DefaultTestTimeout" value="7200000" />
    <add key="TotalExecutionTimeout" value="-1" />
    <add key="UseSeparateThreadForTests" value="true" />
    <add key="ParallelLogging" value="false" />
    <add key="LogLevel" value="Info" />
    <add key="LogScope" value="Step" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <ComponentsConfiguration>
    <ActionLibraries>
      <ActionLibraries>
        <add name="Common actions for all teams" path="Tests.Library.dll" />
      </ActionLibraries>
    </ActionLibraries>
    <Loggers>
      <LogWriterAssemblies>
        <add path="include\logWriters\Test.Logger.Console.dll" description="Configurable console output log writer" group="default" isEnabled="true" />
        <add path="include\logWriters\Test.Logger.File.dll" description="Configurable text file log writer" group="default" isEnabled="true" />
      </LogWriterAssemblies>
    </Loggers>
    <Reports>
      <ReportGenerators>
        <add path="include\reportGenerators\Test.Report.HTML.dll" description="Test execution results report in human friendly HTML format" />
      </ReportGenerators>
    </Reports>
  </ComponentsConfiguration>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>