<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="UniqueName" value="HTML Report" />
    <add key="ReportDirectoryPath" value="report" />
    <add key="StylesSource" value="include\styles" />
    <add key="StylesTargetDirectory" value="include" />
    <add key="CopyStyles" value="true" />
    <add key="TeeFramePageFileName" value="test-cases-frame.html" />
    <add key="OverviewFramePageFileName" value="overview-frame.html" />
    <add key="ContainerPageFileName" value="report.html" />
    <add key="IndividualReportFilePrefix" value="Test" />
    <add key="TextLogsLocation" value="../logs/" />
  </appSettings>
</configuration>