div.t1 {
	margin-left: 0.5em;
}
div.t2 {
	margin-left: 2.5em;
}
div.t3 {
	margin-left: 4.5em;
}
div.t4 {
	margin-left: 6.5em;
}
div.t5 {
	margin-left: 8.5em;
}
div.t6 {
	margin-left: 10.5em;
}
div.t7 {
	margin-left: 12.5em;
}
div.t8 {
	margin-left: 14.5em;
}
div.t9 {
	margin-left: 16.5em;
}
div.t10 {
	margin-left: 18.5em;
}
div.t11 {
	margin-left: 20.5em;
}
div.t12 {
	margin-left: 22.5em;
}