<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="ConsoleLogWriterConfiguration" type="Test.Logger.Console.SectionGroups.ConsoleLogWriterConfigurationGroup, Test.Logger.Console, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null">
      <section name="IndentationSection" type="Test.Logger.Console.SectionGroups.IndentationSection, Test.Logger.Console, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
      <section name="ConsoleColorsSection" type="Test.Logger.Console.SectionGroups.ConsoleColorsSection, Test.Logger.Console, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />      
    </sectionGroup>
  </configSections>
  <appSettings file="">
    <clear />
    <add key="Name" value="Console log writer" />
    <add key="LogActionTimeout" value="30000" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <ConsoleLogWriterConfiguration>
    <IndentationSection>
      <messagePrefixIndentation length="25" />
      <stepNumberIndentation length="15" />
    </IndentationSection>
    <ConsoleColorsSection>
      <ConsoleColors>
        <clear />
        <add outputType="Default" color="Gray" />
        <add outputType="Information" color="White" />
        <add outputType="Error" color="Red" />
        <add outputType="Warning" color="White" />
        <add outputType="StartStep" color="Yellow" />
        <add outputType="EndStep" color="Green" />
        <add outputType="RecordParameters" color="Gray" />
        <add outputType="TakeScreenshot" color="Magenta" />
        <add outputType="StartScript" color="DarkCyan" />
        <add outputType="EndScript" color="DarkYellow" />
        <add outputType="StartTest" color="Cyan" />
        <add outputType="EndTest" color="DarkGray" />
        <add outputType="StartSuite" color="White" />
        <add outputType="EndSuite" color="White" />
        <add outputType="Crash" color="Red" />
      </ConsoleColors>
    </ConsoleColorsSection>    
  </ConsoleLogWriterConfiguration>
</configuration>