<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="TextFileLogWriterConfiguration" type="Test.Logger.File.SectionGroups.TextFileLogWriterConfigurationGroup, Test.Logger.File, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" >
      <section name="IndentationSection" type="Test.Logger.File.SectionGroups.IndentationSection, Test.Logger.File, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="Name" value="Text file logger" />
    <add key="LogActionTimeout" value="25000" />
    <add key="OutputFilePath" value="logs\log.new.txt" />
  </appSettings>
  <TextFileLogWriterConfiguration>
    <IndentationSection>
      <messagePrefixIndentation length="30" />
      <stepNumberPrefixLength length="12" />
      <stepNumberIndentation length="25" />
      <resultPrefix length="50" />
      <newLinePrefix length="60" />
      <parametersPrefix length="64" />
    </IndentationSection>
  </TextFileLogWriterConfiguration>
</configuration>
